body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer
{
    margin-top:0.5em;
}
html {
	background-color: #edf2fb;
	background:transparent;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.125em; 
  line-height: 0em; 
  padding-top: 0em; 
  padding-left: 0em;
  padding-right: 0em; 
/*all set 0 otherwise will massup backgroud */
  background: url('../images/bg.png');
  background-repeat: no-repeat;
	background-size: cover; /*background part replace #BK*/
	background-attachment:fixed;
  /*min-width: 1280px;
  width: expression_r( document.body.clientWidth < 1281 ? "1280px" : "auto" );*/
}
h1 {
	font-size: 3.2em;
	font-weight: bold;
	 padding-top: 0em; 
  padding-bottom: 0.2em; 
}

h2 {
  font-size: 2.2em; 
  line-height: 2.1em; 
  padding-top: 0em; 
  padding-bottom: 0.3em;
  font-weight: bold; 
   padding-top: 0em; 
  padding-bottom: 0.2em; 
}

h3{
	font-size: 0.8em;
	font-weight: bold;
	margin-right:1.4em;
	 padding-top: 0em; 
  padding-bottom: 0.2em; 
}

h3_1{

  font-size: 1.6em;
	font-weight: bold;
	margin:0em;
	margin-right:1.1em;
	padding-top: 0em; 
  padding-bottom: 0.2em; 
}
h4 {
	font-size: 1.2em;
	margin:0;
	font-weight: bold;
	padding-top: 0.2em; 
  padding-bottom: 0.5em; 
}

p {
  font-size: 1.1em; 
  line-height: 1.2em;

}
/* 4list */
ul#group{ 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}
ul#group li{
    display: list-item;
    list-style-type:disc; 
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.1em; 
}

ul#menu {
    padding: 0;
    text-align: center;
    margin: 0 auto;
	  overflow: hidden;
    background-color: #99ccff;
}

ul#menu li {
    display: inline-block;
}

ul#menu li a {
    display: inline-block;
    padding: 1em .625em 1em .625em;
    color: #0000e6;
    text-decoration: none;
    font-size: 1.5em; 
}

ul#menu li a:hover {
    background-color: #777788;
    color: white;
}

ul#indexmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20em;
    background-color: #f3f3f3;
}

ul#indexmenu li a {
    display: block;
    color: #0000d3;
    padding: 1em .625em 1em .625em;
    text-decoration: none;
    font-size: 1.5em; 
}
/* Change size for mobile useage*/
@media screen and (max-width: 40em) {
   ul#indexmenu li a {
    display: block;
    color: #0000d3;
    padding: 1em .625em 1em .625em;
    text-decoration: none;
    font-size: 1em; 
} 
ul#menu li a {
    display: inline-block;
    padding: 1em .625em 1em .625em;
    color: #0000e6;
    text-decoration: none;
    font-size: 1em; 
}

}

/* Change the link color on hover */
ul#indexmenu li a:hover {
    background-color: #555;
    color: white;
}
/*mene2*/
ul#menue {
    padding: 0;
    text-align: center;
    margin: 0 auto;
	overflow: hidden;
}

ul#menue li {
    display: inline-block;
}

ul#menue li a {
    display: inline-block;
    padding: 1em .625em 1em .625em;
    color: #0000e6;
    text-decoration: none;
    font-size: 1.5em; 
}
@media screen and (max-width: 40em) {
ul#menue li a {
    display: inline-block;
    padding: ;
    color: #0000e6;
    text-decoration: none;
    font-size: 1em; 
}

.link{
    width:50%
}
    }


/*mene2end*/
/* 4list end */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  display: block; /* Images display inline by default */
  max-width: 100%; /* Responsive images! Always be at most 100%
                      the width of the containing element
                      (<figure>, in this example's case) */
  padding-bottom: 1em; /* 25.92px / 18px */
  margin:0 auto;
}

img {
  display: block; /* Images display inline by default */
  max-width: 100%; /* Responsive images! Always be at most 100%
                      the width of the containing element
                      (<figure>, in this example's case) */
  padding-bottom: 1em; /* 25.92px / 18px */
}


.content{
	padding-top:1.5em;
    }
.ccc {
	padding-top: 38em;
    padding-left: 50%;
   
    z-index:100;
}
    
.content-frame {
	padding: 1em 1em 1em 1em;
}
.imgtopcet {
    z-index:99;
    width:"100%"； 
}

.date {
	position: absolute;
	width: 12%;
	right: 0;
	top: 0;
}
@media screen and (max-width: 60em) {
.date {
	position: relative;
	width: 100%;
	right: 0;
	top: 0;
}
}

.videobk {
    background-color: #111111; 
    padding: .025em 11.625em .025em 0.625em;
    text-align: center;
    width: auto;

}

@media screen and (max-width: 40em) {
.PC_mode{
    display:none;
    
}
}

@media screen and (min-width: 40em) {
.mobile_mode{
    display:none;
    
}
}



.images1 {
     padding-left:1%; /* Push img out of figcaptions's way */
     width:100%;  /* size control*/
     padding: .025em .625em .025em .625em;
}

@media screen and (max-width: 40em) {
.images1 {
     padding-left:1%; /* Push img out of figcaptions's way */
     width:50%;  /* size control*/
     padding: .025em .625em .025em .625em;
}
}
.style1{
	font-size: 1.4em;
	margin-bottom:0.5em;
	margin-top:0px;
}
@media screen and (min-width: 40em) {
.style2{
	font-size: 1.4em;
	margin:0;
	margin:0px;
	text-align: right;
}
.styleText2{
	font-size:2.4em;
	margin:0;
	text-align: right;
}
.style3{

	font-size: 12px;
	margin:0px;
	text-align: right;
	font-weight:bold;
}
}

@media screen and (max-width: 40em) {
.style2{
	font-size: 1.4em;
	margin:0;
	margin:0px;


}
.styleText2{
	font-size:2.4em;
	margin:0;

}
.style3{

	font-size: 12px;
	margin:0px;
	font-weight:bold;
}
}

@media screen and (min-width: 40em) {

  figure {
    position: relative; 
  }
  
  figcaption {		
    position: absolute; /* Position figcaption absolutely, -relative- to figure, above */
    width: 50%; 
    top: 1em; 
    left: 1em; 
    font-size: 1em; 
    line-height: 1.6666666666666667em; 
  }

  /* Flexbox-enabled styles below */

  .flexbox figure {
    position: static;
    display: flex;
  }
  .flexbox .images1 {
    margin-left: 0;
    width: auto;
    flex-basis: 30%;
  }
  .flexbox figcaption {
    position: static;
    width: auto;
    flex-basis: 70%;
  }

}

/*
resume part
*/
.contact{
	position: absolute;
	width: 30%;
	height: 5.4em;
	right: 0em;
	top: 1em;
}

@media screen and (max-width: 40em) {
 .contact{
	position: relative;
	width: 100%;
	height: 5.4em;
	right: 0em;
	top: 1em;
}   
    }


.title {
	margin-left:2.5em;
}
.info_block {
	position:relative;
	padding-bottom:2em;
}

#logo{
	position:relative;
	margin-left:1em;
	margin-top:0em;
	height:7em;
	width:25em;
	z-index:100;
}
#paper {
	background-color: #FFFFFF;
	width: 85%;
	outline-color: #FFFFFF;
	margin:0em auto;
	padding:0em 2em;
}
#name{
	position:relative;
	padding-bottom:5em;
}

#mainpage_loc{
margin-top:1em;
margin-left:1em;
}
/* HR Style */
.hr1 {
    height: 0;
    border: 0;
    border-top:0.3em solid rgba(0,0,0,0.1);
    border-bottom: 0.3em solid rgba(255,255,255,0.4);
}

#gblk {
	position:absolute;
	margin:1.75em auto auto -2em ;
	width:1em;
	height:1em;
	background-color:#009900;
}
#bblk {
	position:absolute;
	margin:1.75em auto auto -2em ;
	width:1em;
	height:1em;
	background-color:#3366FF;
}
#oblk {
	position:absolute;
	margin:1.75em auto auto -2em ;
	width:1em;
	height:1em;
	background-color:#FF9933;
}
#rblk {
	position:absolute;
	margin:1.75em auto auto -2em ;
	width:1em;
	height:1em;
	background-color:#CC0000;
}
#lblk {
	position:absolute;
    margin:1.75em auto auto -2em ;
	width:1em;
	height:1em;
	background-color:#0cf4c7;
}
/*#bk{
	position:fixed;
	height:100%;
	width:100%;
    margin-left:0px;
	margin-top:0em;
	z-index:-20;
}*/


/*
	modularscale.com 
	1.6 ratio

	6.554em
	4.096em
	2.56em
	1.6em
	1em
	0.625em
	0.391em
	0.244em
*/
