%html
  %head
    %title {Title}
    %link{rel: "stylesheet", href: "https://yzeng12.github.io/css/Style.css"}
  %body
    .content-frame
      %ul#menu
        %li
          %a{href: "http://yzeng12.github.io/index.html"}Home
        %li
          %a{href: "http://yzeng12.github.io/resume.html"}Resume
        %li
          %a{href: "http://yzeng12.github.io/contact.html"}Contact Info
        %li
          %a{href: "http://yzeng12.github.io/myvideo.html"}Bike Safety
    
    .content
      %img{src: '{content-frame}',alt: "my photo"}
       
          
    .content-frame    
      %header#header
        %h2{align:"center"}
          %a{href: "{BlogURL}"} {Title}
        %p {Description} 
      .main
        %h3
          {block:Posts}
        %p
          {block:Text}
        %article.text
          %header
            %h2 
              {block:IndexPage}
              %a{href: "{Permalink}"} {Title}
              {/block:IndexPage}
              {block:PermalinkPage}
              {Title}
              {/block:PermalinkPage}
          .content 
            %p {Body}
          %footer
            %p.style1 see detail at: 
              {block:ContentSource} 
              %a{herf:"{SourceURL}" } SourceURL 
              {/block:ContentSource}
            %p.style2 blog hot:{NoteCount}
            %p.style2 hash tag: {block:Tags}{Tag} {/block:Tags}
            %p.style2 Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year}
    
      %h2 
        Contact our group
      %p
        Team leader
      %p
        Phone: (331)472-9980
      %p
        Email: Zengyx1995@gmail.com / yzeng12@hawk.iit.edu
        
    %script{src:"http://yzeng12.github.io/js/modernizr.js"}